<div class="container">
  <h1>Users Admin</h1>
  <a (click)="addUser()" class="btn btn-primary mb-3">add</a>
  <div class="container row">
    <div class="col-md-6">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>
            <button (click)="viewUser(user.id)" class="btn btn-primary" type="button">Show Details</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <app-adduser (userAddedEvent)="refreshData()" *ngIf="action === 'add'" [user]="selectedUser"></app-adduser>
      <app-viewuser (userDeletedEvent)="refreshData()" *ngIf="action === 'view'" [user]="selectedUser"></app-viewuser>
    </div>
  </div>
</div>
