<h1>Add Book Admin</h1>
<h1>{{book.id == null ? 'Add' : 'Edit'}} Book - {{book.id}}</h1>
<form>
  <label for="name">Name</label>
  <input [(ngModel)]="book.name" class="form-control" id="name" name="name" placeholder="Book Name" type="text">

  <label for="author">Author</label>
  <input [(ngModel)]="book.author" class="form-control" id="author" name="author" placeholder="author" type="text">

  <label for="author">Price</label>
  <input [(ngModel)]="book.price" class="form-control" id="price" name="price" placeholder="price" type="text">


  <br>
  <input (change)="onFileChanged($event)" type="file">
  <img *ngIf="imgURL" [src]="imgURL" height="200" width="200">

  <br>
  <button (click)="saveBook()" class="btn btn-success" type="button">Save Book</button>
</form>
